<!-- app.component.html  -->
<div style="text-align:center">
  <br>
  <h1 style="color: navy;"><u>
    Resume</u>
  </h1>
</div>

<div class="container">
 <br> 
<h4>
<b style="color: rgb(250, 15, 132);">Personal Information:</b></h4>
<br>
<a><b>Name :</b> Yashashri Pawar<br>
<b>Email:</b> pawaryashashri237@gmail.com<br>
<b>Phone:</b> 7083753721</a>

<br><br><hr>
<h4><b  style="color: rgb(250, 15, 132);">Career Objective:</b></h4><br>
<p>	Looking for a challenging role where I can use my capabilities through sincerely dedication and hard work to move up the graph of the organization. I like to get knowledge of new things. I will utilize my knowledge which would help the organization to grow and it is also beneficial to me to enhance my career. I would like to see as a part of middle management in next 3 years.
</p>


<hr>
<br>
<footer>
  <div id="footer">
   
      <div class="row">
        <div class="col-md-4 col-pb-sm">
          <div class="row">
            <div class="col-md-10">
              <h4><b style="color: rgb(250, 15, 132);">Languages</b></h4>
              
                <ul>
                  <li>Marathi</li>
                  <li>Hindi</li>
                  <li>English</li>
                </ul>
              
            </div>
          </div>
        </div>
        <div class="col-md-4 col-pb-sm">
          <h4><b style="color: rgb(250, 15, 132);">Hobbies</b></h4>
          <ul>
            <li>Drawing</li>
            <li>Painting</li>
            <li>Reading books/novels </li>
            <li>Gardning</li>
            <li>Crafting</li>
          </ul>
          
          
        </div>
        <div class="col-md-4 col-pb-sm">
          <h4><b style="color: rgb(250, 15, 132);">Achievements</b></h4>

         
            <ul>
              <li>Awarded with impressive shadow(as a Team lead) for getting team to perform impressively in Inverse Leadership Programme at iauro Systems Pvt. Ltd.</li>
              <li>I got Central Sector scholarship</li>
              <li>I  participated in “Future In Physics” national level poster competition</li>
              <li>I participated in technical events in various colleges</li>
              <li>I attained many workshops on recent technologies </li>
            </ul>

          
        </div>
      
      
    </div>
  </div>
</footer>

  <nav>
<ul>
<li>
<a routerLink="education-details" routerLinkActive="active">Education Details</a></li>
<li>
    <a routerLink="Technical-details">Technical Information</a></li>
<li>
    <a routerLink="Internship-details">Internship Information</a></li>
<li>
<a routerLink="Project-assignments">projects/Assignments Information</a></li>

</ul>
  </nav>
  <hr>
<br>

<!--------------->

  <router-outlet></router-outlet >
</div>
