<!--p>dashboard works!</p-->



<body class=""  >
    <div class="wrapper ">
      <div class="sidebar" data-color="purple" data-background-color="white" >
        
        <div class="logo"><a class="simple-text logo-normal">
           User Details
          </a></div>
  
        <div class="sidebar-wrapper">
          <ul class="nav">
            <li class="nav-item active  ">
              <a class="nav-link" href="/dashboard">
                
                <p>Dashboard</p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/newuser">
                
                <p>New User</p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/user-list">
                
                <p>User List</p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/action">
                
                <p>Action</p>
              </a>
            </li>
            
            
          </ul>
        </div>
      </div>
      <div class="main-panel">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
          <div class="container-fluid">
            <div class="navbar-wrapper">
              <a class="navbar-brand" >Dashboard</a>
            </div>
           
            <div class="collapse navbar-collapse justify-content-end">
              <form class="navbar-form">
                <div class="input-group no-border">
                  <input type="text" value="" class="form-control" placeholder="Filter By Id..." (keyup)=id($event)>
                  <button type="submit" class="btn btn-white btn-round btn-just-icon" (click)="goToPage('filter-id')">
                    <p>go</p>
                    
                  </button>
                </div>
              </form>
            </div>
          </div>
        </nav>
  
      
        <!-- End Navbar -->
        <div class="content">
          <div class="container-fluid">
  
            <div class="row">
              <div class="col-md-4">
                <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                      <img src="../assets/img/new_logo.png">
                    </div>
          <h4 class="card-title">Fname Lname</h4>
          <p class="card-category">
                      <span class="text-success"> </span><br>Email:</p>
                  </div>
                  <div class="card-footer">
                    <div class="stats">
                      <i class="material-icons"></i>
                    </div>
                  </div>
      
                  </div>
              </div>
  
          <div class="col-md-4">
                <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                      <img src="../assets/img/new_logo.png">
                    </div>
          <h4 class="card-title">Fname Lname</h4>
          <p class="card-category">
                      <span class="text-success"> </span><br>Email:</p>
                  </div>
                  <div class="card-footer">
                    <div class="stats">
                      <i class="material-icons"></i>
                    </div>
                  </div>
      
                  </div>
              </div>
  
          <div class="col-md-4">
                <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                      <img src="../assets/img/new_logo.png">
                    </div>
          <h4 class="card-title">Fname Lname</h4>
          <p class="card-category">
                      <span class="text-success"> </span><br>Email:</p>
                  </div>
                  <div class="card-footer">
                    <div class="stats">
                      <i class="material-icons"></i>
                    </div>
                  </div>
      
                  </div>
              </div>
  
  
    </div>
