
<h4 style="color: rgb(250, 15, 132);"><b>Internship-details:</b></h4>
 <b>iauro Systems Pvt. Ltd., Pune &#8209;</b> (10 Jun 2019 &#8209; 15 Nov 2019):
  
    <blockquote>
      <p><ins><b>Project Description:</b></ins> <q>Color classification of images (screenshots)</q>
      This is developed for getting background, text, primary/secondary colors from
      images.</p>

      <p><ins><b>Technology:</b></ins> Python 3.5, Flask, HTML, CSS, basic image processing and
      machine learning algorithms</p>



