/* You can add global styles to this file, and also import other style files */
//@import "../node_modules/ng2-slim-loading-bar/style.css";
.container {
    border: 3px solid rgb(250, 15, 132);
    width: 40vw;
    height: 200vh;
    position: relative;
    top:10vh;
    left: auto;
    right: auto;
    //background-color: skyblue;
    
}