<h4 style="color: rgb(250, 15, 132);"><b>Education details:</b></h4>
   


  <table class="table">
    <tr id="heading">
      <td><b>Qualification</b></td>
      <td><b>School/College</b></td>
      <td><b>Board/University</b></td>
      <td><b>Percentage/GPA</b></td>
      <td><b>Passing Year</b></td>
    </tr>
    
    <tr>
      <td>MCA</td>
      <td>Savitribai Phule Pune University</td>
      <td>Savitribai Phule Pune University</td>
      <td>5.65</td>
      <td>2018&#8209;2019</td>
    </tr>

    <tr>
      <td>BSc Comp. Science</td>
      <td>Willingdon college, Sangli</td>
      <td>Shivaji University, Kolapur</td>
      <td>81.12</td>
      <td>2016&#8209;2017</td>
    </tr>

    <tr>
      <td>HSC</td>
      <td>ACS college, Miraj</td>
      <td>Kolapur divisional board</td>
      <td>68.77</td>
      <td>2013&#8209;2014</td>
      
    </tr>
    <tr>
      <td>SSC</td>
      <td>J M K highschool, shirdhon</td>
      <td>Kolapur divisional board</td>
      <td>78.55</td>
      <td>2011&#8209;2012</td>
      
    </tr>
   
  </table>

